<div class="fourish">
<img width=100% height=100 src="http://placehold.it/500x50" />
</div>

<!-- Sign Up Form -->
<div class="grid">
	<div class="row">
		<div class="c8">
			<h4>Edit Team Details</h4>

<%= form_for(@team, :url => team_path, :method => :patch) do |f| %>
<%= render 'form', :f => f %>
<%= f.submit %>
<% end %>

		</div>
		<div class="c4 h4push">
			<h5>Delete Team</h5>
			<p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p><%= link_to 'Delete Team', team_path(@team), :class => 'button full', data: { confirm: "Are you sure? You lose all points that this team has made!" }, method: :delete %></p>

			<%= render 'shared/text_etiquette' %>
		</div>
	</div>
</div>

