<div class="fourish"></div>

<!-- Sign Up Form -->
<div class="grid">
	<div class="row">
		<div class="c7">
			<h4>Team Details</h4>
			<h5><strong><%= @team.name %></strong></h5>
									
			<%= simple_format @team.description %>
			
			<% if user_signed_in? && (@team.users.map{|a| a.id}.include? current_user.id) %>
			<div class="row">
				<div class="c12">
					<div class="fb-comments" data-href="<%= request.original_url -%>" data-width="100%" data-numposts="5"></div>
				</div>
			</div>
			<% end %>
			
		</div>

		<div class="c5 h2push">
			<% if user_signed_in? && (@team.users.map{|a| a.id}.include? current_user.id) %>
			<h3><strong>Team Code</strong><br/><%= @team.code %></h3>
			<% end %>

			<h5>Stats</h5>
			<table>
				<tbody>
					<tr>
						<td>Creation Date</td>
						<td class="text-right"><%= @team.created_at.to_s(:date_only)%></td>
					</tr>
					<tr>
						<td>Points Accumulated</td>
						<td class="text-right"><%= @team.score %></td>
					</tr>
					<tr>
						<td>Events Played</td>
						<td class="text-right"><%= @team.scores.group(:event_id).count(:event_id) %></td>
					</tr>
					<tr>
						<td class="text-up">Team Members</td>
						<td class="text-right">
							<ul class="text-left">
								<% @team.users.each do |user| %>
								<li><%= link_to "#{user.first_name} #{user.last_name[0]}", profile_path(user) %>.</li>
								<% end %>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
			
			<h5>Team Badges</h5>
			<% @badges_teamscore.each do |badge| %>
			<%= link_to image_tag(badge.bgraphic, :width => 100), badge_path(badge) %>
			<% end %>
			
		</div>
	</div>
</div>