<div class="fourish"></div>

<!-- Sign Up Form -->
<div class="grid">
	<div class="row">
		<div class="c5">
			<h4>Team Details</h4>
			<h5><strong><%= @team.name %></strong></h5>
									
			<%= simple_format @team.description %>
		</div>

		<div class="c7 h2push">
			<% if user_signed_in? && (@team.users.map{|a| a.id}.include? current_user.id) %>
			<h3><strong>Team Code</strong><br/><%= @team.code %></h3>
			<% end %>

			<h5>Stats</h5>
			<table>
				<tbody>
					<tr>
						<td>Creation Date</td>
						<td class="text-right"><%= @team.created_at.to_s(:date_only)%></td>
					</tr>
					<tr>
						<td>Points Accumulated</td>
						<td class="text-right"><%= @team.score %></td>
					</tr>
					<tr>
						<td>Events Played</td>
						<td class="text-right"><%= @team.scores.count(:event_id) %></td>
					</tr>
					<tr>
						<td class="text-up">Team Members</td>
						<td class="text-right">
							<ul class="text-left">
								<% @team.users.each do |user| %>
								<li><%= link_to "#{user.first_name} #{user.last_name[0]}", profile_path(user) %>.</li>
								<% end %>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>