<div class="grid">
	<div class="row">
		<div class="c8">
			<h4>Event Management</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<td>Name</td>
						<td>Teams</td>
						<td>Players</td>
						<td>Options</td>
					</tr>
				</thead>
				<tbody>
					<% @events.each do |event| %>
					<tr>
						<td width="100%"><%= link_to event.name, backend_event_path(event) %></td>
						<td class="text-align: center;"><%= event.scores.team_count %></td>
						<td style="text-align: center;"><%= event.scores.player_count %></td>
						<td><% if current_user.admin? || current_user.id == event.user_id %><%= link_to "Edit", edit_backend_event_path(event) %>&nbsp;|&nbsp;<%= link_to 'Delete', backend_event_path(event), data: { confirm: "Are you sure? You lose all points that this event has made!" }, method: :delete %><% end %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate @events %>
		</div>

		<div class="c4">
			<h5>Create Event</h5>
			<p class="small">Make sure you have details available before creating an event. That way you don't have to back track anything.</p>
			<%= link_to 'Create a New Event', new_backend_event_path, :class => 'button full'%>
		</div>
	</div>
</div>