<div class="fourish"></div>

<!-- Sign In Form -->
<div class="grid">
	
	<div class="row">
		<div class="c5">
			<h4>Sign In</h4>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<% if params[:speed] %>
			<%= hidden_field_tag 'speed', 'true' %>
			<% end %>
			<div class="row">
				<div class="c12">
				    <%= f.label :email %>
				    <%= f.email_field :email, autofocus: true %>
				</div>
			</div>
			<div class="row">
				<div class="c12">
				    <%= f.label :password %>
				    <%= f.password_field :password %>
				</div>
			</div>
			<div class="row">
				<% if devise_mapping.rememberable? -%>
					<div class="c7">
						<div class="form-choice">
							<%= f.check_box :remember_me %>
							<%= f.label :remember_me %>
						</div>
					</div>
					<div class="c5">
					    <%= f.submit 'Sign In' %>
					</div>
				<% else %>
					<div class="c12">
					    <%= f.submit 'Sign In' %>
					</div>
				<% end -%>
			</div>
			
			<div class="row">
				<div class="c12 text-center">
					<%= link_to 'I seemed to have misplaced my password', new_user_password_path, :class => 'small' %>
				</div>
			</div>
			<% end %>
		</div>
		
		<div class="c7 h2push">
			<h5>Not yet a member?</h5>
			<p>Well why not yet? Creating an account with us lets you join teams, earn points, control the force, keep track of events, and so much more. Just use the form to create your account. We will never sell or use your info for anything. Oh and may the force be with you.</p>
			<p class="text-right"><%= link_to 'Join Now', new_user_registration_path, :class => 'button secondary' %></p>
		</div>
	</div>
</div>