<div class="fourish"></div>

<!-- Sign In Form -->
<div class="grid">
	
	<div class="row">
		<div class="c8">
			<h4>Events</h4>
			<div class="row">
				<div class="c12">
					<table>
						<thead>
							<tr>
								<td width="100%">Event Name</td>
								<td>Date</td>
							</tr>
						</thead>
						<tbody>
							<% @events.each do |event| %>
							<tr>
								<td class="text-up"><%= link_to event.name, event_path(event) %><%= simple_format event.description, :class => 'small' %></td>
								<td class="text-right text-up small no-wrap"><%= event.date_start.to_s(:date_only) %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
					
					<%= will_paginate @events %>
				</div>
			</div>
		</div>

		<div class="c4 h2push">
			<% if user_signed_in? %>
				<% teams_array = current_user.teams.map { |team| [team.name, team.id] } %>
				<% if teams_array.empty? %>
				<p>In order to join an event you must be part of a team. Please visit <%= link_to 'your account', edit_user_registration_path %> page to join a team.</p>
				<% else %>
					<%= render "shared/form_join_event", :teams_array => teams_array %>
				<% end %>
			<% end %>


			<%= render 'shared/text_hire' %>
		</div>
	</div>
</div>