<div class="fourish"></div>

<!-- Sign In Form -->
<div class="grid">
	
	<div class="row">
		<div class="c8">
			<h4>Event Details</h4>
			<div class="row">
				<div class="c12">
					<h5><strong><%= @event.name %></strong></h5>
					<p>on <%= @event.date_start.to_s(:date_only) %> from <%= @event.date_start.to_s(:time_only) %> to <%= @event.date_end.to_s(:time_only) %>
					<%= simple_format @event.description %>
				</div>
			</div>
			
			<% if user_signed_in? %>
			<div class="row">
				<div class="c12">
					<div class="fb-comments" data-href="<%= request.original_url -%>" data-width="100%" data-numposts="5"></div>
				</div>
			</div>
			<% end %>
		</div>

		<div class="c4 h2push">
			<h5>Teams</h5>
			<ul class="no-pad no-bullet">
				<% if @event.teams.count == 0 %>
				<p class="small">No teams playing yet. This could because the event has not happened or this was just one sad event and we will never talk about it again like that one night at band camp.</p>
				<% else %>
					<% @event.teams.distinct.each do |team| %>
					<li><%= link_to team.name, team_path(team) %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>