<div class="fourish"></div>

<div class="grid">
	<div class="row">
		<div class="c5">
			<h4>Hire Nerdgasm</h4>
			<p>Hiring us is about as simple as choosing Charmander as your first Pokémon. We want to bring a community to your event, bar, restaurant, even coffee shop that may not know you exist. I mean how loyal are nerds? Star Wars came out in 77 and people still cosplay Darth Vader.  It's all about bringing subjects even the closet freak wants to find a community to be able to talk about it to. The trivia is simple, runs about a hour and 15 minutes, just about as long as it takes to speedrun your favorite game.</p>
			
			<h5>About Our Start</h5>
			<p>Player One Video Game Bar is where the alpha began! Starting back in February of 2015, Nerdgasm Trivia at Player One has had a loyal following since day one. With a average attendance of 60+ people weekly, it can be a loud event where people are having a good time just getting to hang out with their friends, or it can be quiet because we've stumped them on a subject they <em>thought</em> they knew.</p>
			
			<h5>Contact Us</h5>
			<%= form_for @message, url: contact_path do |message_form| %>
			<div class="row">
				<div class="c12">
			      <%= message_form.text_field :name, placeholder: "Name" %>
			    </div>
				<div class="c12">
			      <%= message_form.text_field :email, placeholder: "Email Address" %>
			    </div>
				<div class="c12">
			      <%= message_form.text_field :message, placeholder: "Describe your location and services needed" %>
			    </div>
				<div class="c12">
			      <%= message_form.submit "Send to Request More Info" %>
			    </div>
			</div>
			<% end %>
		</div>
		
		<div class="c7 h4push">
			<img width="100%" src="/i/hire_photo.jpg" />
		</div>
	</div>
</div>