<%= render "shared/hero_block" %>

<!-- Homepage Content -->
<div class="grid">
	<div class="row">
		<div class="c10">
			<div class="fb-like" data-href="https://nerdgasmtrivia.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>
		<div class="c2 text-right">
			<a href="https://facebook.com/NerdgasmTrivia"><i class="fa fa-facebook-official"></i></a>
			<a href="https://instagram.com/YourNerdgasm"><i class="fa fa-instagram"></i></a>
			<a href="http://starwars.com"><i class="fa fa-empire"></i></a>
		</div>
	</div>
	
	<div class="row">
		<div class="c5">
			<% if user_signed_in? %>
				<% teams_array = current_user.teams.map { |team| [team.name, team.id] } %>
				<% if teams_array.empty? %>
				<p>In order to join an event you must be part of a team. Please visit <%= link_to 'your account', edit_user_registration_path %> page to join a team.</p>
				<% else %>
					<%= render "shared/form_join_event", :teams_array => teams_array %>
				<% end %>
			<% end %>

			<!-- Upcoming Events -->
			<h5>Upcoming Events</h5>
			<ul class="no-pad no-bullet">
				<% @events.each do |event| %>
				<li>
					<strong><%= link_to event.name, event_path(event) %></strong><br/>
					<p class="no-pad"><%= event.date_start.to_s(:date_only) %> from <%= event.date_start.to_s(:time_only) %> to <%= event.date_end.to_s(:time_only) %></p>
					<%= simple_format truncate(event.description, length: 200), :class => 'small' %>
				</li>
				<% end %>
			</ul>

			<h5>From Facebook</h5>
			<div class="fb-page" data-href="https://www.facebook.com/NerdgasmTrivia/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/NerdgasmTrivia/"><a href="https://www.facebook.com/NerdgasmTrivia/">Nerdgasm Trivia</a></blockquote></div></div>
		</div>

		<div class="c7">
			<h4>Entertaining Fun.</h4>
			<p>What comes to mind when you hear the term, <em>Nerdgasm</em>? Do you think of someone completely going nuts or light up in a ridiculous way when something reminds them of their favorite subject? It could be Star Wars, Harry Potter, or something as random as history. That's where we come in, we want to bring that excitement into your daily lives and test your knowledge on your favorite subjects.</p>
			<p>Trivia shouldn't be all about cramming as much useless knowledge into your mind to hopefully know some answers to some random questions then win prizes for a pub or restaurant that you barely visit.  Nerdgasm wants to bring the subjects you already know a lot about, teach you more facts about these subjects, and even learn ourselves about what makes you, nerdgasm.</p>
			<p>We're all a bunch of nerds that always look for openings to talk about what we're passionate about.</p>
			<p>Join us in the conversation, over trivia. </p>			
		</div>
	</div>
</div>