<div class="fourish">
<img width=100% height=100 src="http://placehold.it/500x50" />
</div>

<!-- Sign In Form -->
<div class="grid">
	
	<div class="row">
		<div class="c5">
			<h4>Lost Password</h4>
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
			<%= devise_error_messages! %>
			<%= f.hidden_field :reset_password_token %>

			<div class="row">
				<div class="c12">
					<%= f.label :password, 'New Password' %>
					<%= f.password_field :password, autofocus: true, autocomplete: "off" %>
				</div>
			</div>
				
			<div class="row">
			    <div class="c12">
			      <%= f.label :password_confirmation, "Confirm new password" %><br />
			      <%= f.password_field :password_confirmation, autocomplete: "off" %>
			    </div>
			</div>

			<div class="row">
				<div class="c12">
					<%= f.submit "Update My Password" %>
				</div>
			</div>
			<% end %>
		</div>

		<div class="c7 h2push">
			<h5>Congrats. Your favorite thing, a new password.</h5>
			<p>Your taking the first step towards a wonderful future with us. Creating a new password and remembering it this time! Use the form and create that new password.</p>
			<p class="text-right">
				<%= link_to 'Sign In', new_user_session_path, :class => 'button secondary' %>
				<%= link_to 'Join Now', new_user_registration_path, :class => 'button secondary' %>
			</p>
		</div>
	</div>
</div>
