<div class="fourish"></div>

<!-- Sign In Form -->
<div class="grid">
	
	<div class="row">
		<div class="c5">
			<h4>Lost Password</h4>
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			<%= devise_error_messages! %>

			<div class="row">
				<div class="c12">
					<%= f.label :email %>
					<%= f.email_field :email, autofocus: true %>
				</div>
			</div>

			<div class="row">
				<div class="c12">
					<%= f.submit "Send me reset password instructions" %>
				</div>
			</div>
			<% end %>
		</div>

		<div class="c7 h2push">
			<h5>Doesn't it suck when that happens.</h5>
			<p>If you are looking for ransom, I can tell you I don't have money. But what I do have are a very particular set of skills, skills I have acquired over a very long career. Skills that make me a nightmare for people like you. But for starters lets reset that password by filling out the form.</p>
			<p class="text-right">
				<%= link_to 'Sign In', new_user_session_path, :class => 'button secondary' %>
				<%= link_to 'Join Now', new_user_registration_path, :class => 'button secondary' %>
			</p>
		</div>
	</div>
</div>


  

